*.exe
*.exe~
*.dll
*.so
*.dylib
UE_UML

dist/
vendor/

*_templ.go

*.test
coverage.out
coverage.html

*.prof
*.pprof
cpu.out
mem.out

.idea/
*.iml
.vscode/

.DS_Store
Thumbs.db
desktop.ini

tmp/
*.log